{% extends 'base.html.twig' %}

{% block title %}Listagem de Séries{% endblock %}

{% block body %}

<div class="example-wrapper">
    <a href="{{ path('app_series_form') }}" class="btn btn-dark mb-3">Adicionar</a>
    <ul class="list-group">
        {% for serie in series %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ serie.name }}

                <div class="d-flex">
                    <a href="{{ path('app_edit_series_form', {series: serie.id}) }}" class="btn btn-sm btn-primary me-2">Editar</a>
                    <form method="post" action="{{ path('app_series_delete', {id: serie.id}) }}">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button href="#" class="btn btn-sm btn-danger">Apagar</button>
                    </form>
                </div>
            </li>
            
        {% endfor %}
    </ul>
</div>
{% endblock %}
