{% extends 'base.html.twig' %}

{% block title %}Episodeos da série {{ series.name }} Temporada {{ season.number }}{% endblock %}

{% block body %}
<div>
    <form method="post">
        <ul class="list-group">
            {% for episode in episodes %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Episódio {{ episode.number }}

                    <input type="checkbox" 
                           name="episodes[{{ episode.id }}]"
                           {% if episode.watched %} checked {% endif %}>
                </li>
            {% endfor %}
        </ul>

        <button class="btn btn-primary mt-2">
            Salvar
        </button>
    </form>
</div>
{% endblock %}
